html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
    outline: none;
    border: 0.1rem solid lightgray;
}
input, select, textarea {
    /* display: block; */
    padding: 0.5rem;
    margin-top: 0.1rem;
}

body {
  font-size: 2rem;
  font-family: Georgia;
  margin: 0;
  height: 100vh;
}

canvas {
  display: block;
}

.title{
  display: block;
  margin:0.4rem;
}

.form-general__submit-button{
  padding:1.1rem;
  background: rgba(63,94,251,1);
  border: none;
  color:white;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-radius: 50rem 50rem;
  margin: 0.8rem;
}

.form-general__clear-button{
  padding:0.8rem;
  background: rgb(154, 156, 165);
  border: none;
  color:white;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 50rem 50rem;
  margin: 0.8rem;
  margin-bottom:2rem;
}



.form-general__field {
  margin: 0 0 2rem 0;
}